// background color (purple): 63 37 72 
// background color (cream): 241 235 221
// writing (black): 3 4 1
// writing cream: 248 212 194
// writing (slightly pink): 237 201 208 - #EDC9D0

$bgdark: rgba(63, 37, 72);
$bglight: rgba(241, 235, 221);
$black: rgba(3, 4, 1);
$headercolor: rgba(248,212, 194);
$paracolor: rgba(237, 201, 208);

$box-shadow: 0px 2px 10px rgba(3,4,1,0.4);