.movieMatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.match-container {
  h1, h3 {
    text-align: center;
  }
}

.form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .basic-multi-select{
    width: 100%;
    .select__control{
      font-size: 1.4rem;
      padding: 10px 0px;
      height: 62.8px;
    }
  }
}


.matchButtons{
  display: flex; 
  justify-content: space-evenly;
  flex-wrap: wrap;
  input.btn {
    background: $bgdark;
    color: $headercolor;
    font-size: 1.2rem;
    max-width: 388px;
  }
}

// @media (max-width: 903px) {
//   // .matchButtons {
//   //   flex-wrap: wrap;
//   // }
//   form {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//   }
//   .basic-multi-select{
//     width: 388px;
//   }

// }

